<!DOCTYPE html>
<html>
    <head>
        <!-- 页面meta -->
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>传智健康</title>
        <meta name="description" content="传智健康">
        <meta name="keywords" content="传智健康">
        <meta content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no" name="viewport">
        <!-- 引入样式 -->
        <link rel="stylesheet" href="../plugins/elementui/index.css">
        <link rel="stylesheet" href="../plugins/font-awesome/css/font-awesome.min.css">
        <link rel="stylesheet" href="../css/style.css">
    </head>
    <body class="hold-transition">
        <div id="app">
            <div class="content-header">
                <h1>系统设置<small>菜单管理</small></h1>
                <el-breadcrumb separator-class="el-icon-arrow-right" class="breadcrumb">
                    <el-breadcrumb-item :to="{ path: '/' }">首页</el-breadcrumb-item>
                    <el-breadcrumb-item>系统设置</el-breadcrumb-item>
                    <el-breadcrumb-item>菜单管理</el-breadcrumb-item>
                </el-breadcrumb>
            </div>
            <div class="app-container">
                <div class="box">
                    <div class="filter-container">
                        <el-input placeholder="菜单名" v-model="pagination.queryString" style="width: 200px;" class="filter-item"></el-input>
                        <el-button @click="findPage()" class="dalfBut">查询</el-button>
                        <el-button type="primary" class="butT" @click="handleCreate()">新建</el-button>
                    </div>
                    <el-table size="small" current-row-key="id" :data="dataList" stripe highlight-current-row>
                        <el-table-column type="index" align="center" label="序号"></el-table-column>
                        <el-table-column prop="name" label="菜单名" align="center"></el-table-column>
                        <el-table-column prop="linkUrl" label="访问路径" align="center"></el-table-column>
                        <el-table-column prop="path" label="菜单项所对应的路由路径" align="center"></el-table-column>
                        <el-table-column prop="priority"label="优先级" align="center"></el-table-column>
                        <el-table-column prop="icon"label="图标" align="center"></el-table-column>
                        <el-table-column prop="description"label="描述" align="center"></el-table-column>
                        <el-table-column prop="parentMenuId"label="父菜单id" align="center"></el-table-column>
                        <el-table-column label="操作" align="center">
                            <template slot-scope="scope">
                                <el-button type="primary" size="mini" @click="handleUpdate(scope.row)">编辑</el-button>
                                <el-button size="mini" type="danger" @click="handleDelete(scope.row)">删除</el-button>
                            </template>
                        </el-table-column>
                    </el-table>
                    <div class="pagination-container">
                        <el-pagination
                            class="pagiantion"
                            @current-change="handleCurrentChange"
                            :current-page="pagination.currentPage"
                            :page-size="pagination.pageSize"
                            layout="total, prev, pager, next, jumper"
                            :total="pagination.total">
                        </el-pagination>
                    </div>
                    <!-- 新增标签弹层 -->
                    <div class="add-form">
                        <el-dialog title="新增菜单" :visible.sync="dialogFormVisible">
                            <el-form ref="dataAddForm" :model="formData" :rules="rules" label-position="right" label-width="100px">
                                <el-row>
                                    <el-col :span="12">
                                        <el-form-item label="菜单名" prop="name">
                                            <el-input v-model="formData.name"/>
                                        </el-form-item>
                                    </el-col>
                                    <el-col :span="12">
                                        <el-form-item label="访问路径" prop="linkUrl">
                                            <el-input v-model="formData.linkUrl"/>
                                        </el-form-item>
                                    </el-col>
                                </el-row>
                                <el-row>
                                    <el-col :span="12">
                                        <el-form-item label="菜单项所对应的路由路径" prop="path">
                                            <el-input v-model="formData.path"/>
                                        </el-form-item>
                                    </el-col>
                                    <el-col :span="12">
                                        <el-form-item label="优先级" prop="priority">
                                            <el-input v-model="formData.priority"/>
                                        </el-form-item>
                                    </el-col>
                                </el-row>
                                <el-row>
                                    <el-col :span="12">
                                        <el-form-item label="图标" prop="icon">
                                            <el-input v-model="formData.icon"/>
                                        </el-form-item>
                                    </el-col>
                                    <el-col :span="12">
                                        <el-form-item label="父菜单">
                                            <el-select v-model="formData.parentMenuId">
                                                <el-option v-for="c in AlldataList" :value="c.id" :label="c.name"></el-option>
                                            </el-select>
                                        </el-form-item>
                                    </el-col>
                                </el-row>
                                <el-row>
                                    <el-col :span="24">
                                        <el-form-item label="描述">
                                            <el-input v-model="formData.description" type="textarea"></el-input>
                                        </el-form-item>
                                    </el-col>
                                </el-row>
                            </el-form>
                            <div slot="footer" class="dialog-footer">
                                <el-button @click="dialogFormVisible = false">取消</el-button>
                                <el-button type="primary" @click="handleAdd()">确定</el-button>
                            </div>
                        </el-dialog>
                    </div>

                    <!-- 编辑标签弹层 -->
                    <div class="add-form">
                        <el-dialog title="编辑菜单" :visible.sync="dialogFormVisible4Edit">
                            <el-form ref="dataEditForm" :model="formData" :rules="rules" label-position="right" label-width="100px">
                                <el-row>
                                    <el-col :span="12">
                                        <el-form-item label="菜单名" prop="name">
                                            <el-input v-model="formData.name"/>
                                        </el-form-item>
                                    </el-col>
                                    <el-col :span="12">
                                        <el-form-item label="访问路径" prop="linkUrl">
                                            <el-input v-model="formData.linkUrl"/>
                                        </el-form-item>
                                    </el-col>
                                </el-row>

                                <el-row>
                                    <el-col :span="12">
                                        <el-form-item label="菜单项所对应的路由路径" prop="path">
                                            <el-input v-model="formData.path"/>
                                        </el-form-item>
                                    </el-col>
                                    <el-col :span="12">
                                        <el-form-item label="优先级" prop="priority">
                                            <el-input v-model="formData.priority"/>
                                        </el-form-item>
                                    </el-col>
                                </el-row>

                                <el-row>
                                    <el-col :span="12">
                                        <el-form-item label="图标" prop="icon">
                                            <el-input v-model="formData.icon"/>
                                        </el-form-item>
                                    </el-col>
                                    <el-col :span="12">
                                        <el-form-item label="父菜单">
                                            <el-select v-model="formData.parentMenuId">
                                                <el-option v-for="c in AlldataList" :value="c.id" :label="c.name"></el-option>
                                            </el-select>
                                        </el-form-item>
                                    </el-col>
                                </el-row>
                                <el-row>
                                    <el-col :span="24">
                                        <el-form-item label="菜单描述">
                                            <el-input v-model="formData.description" type="textarea"></el-input>
                                        </el-form-item>
                                    </el-col>
                                </el-row>
                            </el-form>
                            <div slot="footer" class="dialog-footer">
                                <el-button @click="dialogFormVisible4Edit = false">取消</el-button>
                                <el-button type="primary" @click="handleEdit()">确定</el-button>
                            </div>
                        </el-dialog>
                    </div>
                </div>
            </div>
        </div>
    </body>
    <!-- 引入组件库 -->
    <script src="../js/vue.js"></script>
    <script src="../plugins/elementui/index.js"></script>
    <script type="text/javascript" src="../js/jquery.min.js"></script>
    <script src="../js/axios-0.18.0.js"></script>
    <script>
        var vue = new Vue({
            el: '#app',
            data:{
                pagination: {//分页相关模型数据
					  currentPage: 1,//当前页码
					  pageSize:10,//每页显示的记录数
					  total:0,//总记录数
					  queryString:null//查询条件
				},
				dataList: [],//当前页要展示的分页列表数据
                formData: {},//表单数据
                AlldataList:[],
                dialogFormVisible: false,//增加表单是否可见
                dialogFormVisible4Edit:false,//编辑表单是否可见
                rules: {//校验规则
                    keyword: [{ required: true, message: '权限名为必填项', trigger: 'blur' }],
                    name: [{ required: true, message: '权限关键字为必填项', trigger: 'blur' }],
                }
            },
            //钩子函数，VUE对象初始化完成后自动执行
            created() {
                this.findPage();
                this.findAll();
            },
            methods: {
                //查询所有套餐
                findAll(){
                    axios.post("../menu/findAll.do").then(response=>{
                        if (response.data.flag){
                            this.AlldataList=response.data.data;
                        }
                    });
                },
                //编辑
                handleEdit() {
                    this.$refs['dataEditForm'].validate((valid) => {
                        if (valid) {
                            axios.post("../menu/edit.do",this.formData)
                                .then(response=>{
                                    if (response.data.flag){
                                        this.dialogFormVisible4Edit=false;
                                        this.$message.success(response.data.message);
                                        this.findPage();
                                        this.findAll();
                                    }else {
                                        this.$message.error((response.data.message));
                                    }
                                });


                        }
                    });

                },
                //添加
                handleAdd () {
                    this.$refs['dataAddForm'].validate((valid) => {
                        if (valid) {
                            axios.post("../menu/add.do",this.formData)
                                .then(response=>{
                                    if (response.data.flag){
                                        this.dialogFormVisible=false;
                                        this.$message.success(response.data.message);
                                        this.findPage();
                                        this.findAll();
                                    }else {
                                        this.$message.error((response.data.message));
                                    }
                                }).catch((error)=>{
                                    this.showMessage(error);
                            });


                        }
                    });
                },
                //分页查询
                findPage() {
                    var param={
                        currentPage:this.pagination.currentPage,//当前页码
                        pageSize:this.pagination.pageSize,//每页显示的记录数
                        queryString:this.pagination.queryString//查询条件
                    }
                    axios.post("../menu/findPage.do",param).then(response=>{
                        this.dataList=response.data.rows;
                        this.pagination.total=response.data.total;

                    });
                        // .then(response=>{
                        //     if (response.data.flag){
                        //         this.$message.success(response.data.message);
                        //         this.dataList=response.data.data;
                        //     }else {
                        //         this.$message.error((response.data.message));
                        //     }
                        // });
                },
                // 重置表单
                resetForm() {
                },
                // 弹出添加窗口
                handleCreate() {
                    this.dialogFormVisible=true;
                    this.formData={};
                },
                // 弹出编辑窗口
                handleUpdate(row) {
                    this.dialogFormVisible4Edit=true;
                    axios.get("../menu/findPermissionById.do?id="+row.id).then(response=>{
                        if (response.data.flag){
                            this.$message.success(response.data.message);
                            this.formData=response.data.data;
                        }else {
                            this.$message.error((response.data.message));
                        }
                    });
                },
                //切换页码
                handleCurrentChange(currentPage) {
                    this.pagination.currentPage=currentPage;
                    this.findPage();
                },
                // 删除
                handleDelete(row) {
                    this.$confirm('确定删除此检查项, 是否继续?', '提示', {
                        confirmButtonText: '确定',
                        cancelButtonText: '取消',
                        type: 'warning'
                    }).then(() => {
                        axios.get("../menu/delete.do?id="+row.id).then(response=>{
                            if (response.data.flag){
                                this.$message.success(response.data.message);
                                this.findPage();
                                this.findAll();
                            }else {
                                this.$message.error((response.data.message));
                            }
                        }).catch((error)=>{
                            this.showMessage(error);
                        });
                        });




                },
                showMessage(r){
                    if (r == 'Error: Request failed with status code 403'){
                        this.$message.error("无权限访问!")
                        return;
                    } else {
                        this.$message.error("未知错误!")
                        return;

                    }
                }
            }
        })
    </script>
</html>