<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xmlns:security="http://www.springframework.org/schema/security"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
                  http://www.springframework.org/schema/beans/spring-beans.xsd
                  http://www.springframework.org/schema/mvc
                  http://www.springframework.org/schema/mvc/spring-mvc.xsd
                  http://code.alibabatech.com/schema/dubbo
                  http://code.alibabatech.com/schema/dubbo/dubbo.xsd
                  http://www.springframework.org/schema/context
                  http://www.springframework.org/schema/context/spring-context.xsd
                          http://www.springframework.org/schema/security
                          http://www.springframework.org/schema/security/spring-security.xsd">
    <!--配置可以匿名访问的资源-->
    <security:http security="none" pattern="/js/**"/>
    <security:http security="none" pattern="/css/**"/>
    <security:http security="none" pattern="/login.html"/>
    <!--默认配置,拦截的路径,需要的角色-->
    <security:http auto-config="true" use-expressions="true">
        <!--通过认证即可访问-->
        <security:intercept-url pattern="index.html" access="isAuthenticated()"/>
        <security:intercept-url pattern="/a.html" access="isAuthenticated()"/>

        <!--有add权限可访问b页面-->

        <security:intercept-url pattern="/b.html" access="hasAuthority('add')"/>
        <!--有ROLE_ADMIN权限可访问c页面-->
        <security:intercept-url pattern="/c.html" access="hasRole('ADMIN')"/>
        <!--有ABC权限可访问d页面-->
        <security:intercept-url pattern="/d.html" access="hasRole('ABC')"/>

        <security:intercept-url pattern="/**" access="hasRole('ROLE_ADMIN')"/>


        <!--定义表单的登录信息-->
        <security:form-login login-page="/login.html"
                             username-parameter="username"
                             password-parameter="password"
                             login-processing-url="/login.do"
                             authentication-failure-url="/login.html"
                             default-target-url="/index.html"
        always-use-default-target="true"/>
        <!--退出拦截请求,退回到登录页面,并且将session失效-->
        <security:logout logout-url="/logout.do" logout-success-url="/login.html" invalidate-session="true"/>

        <!--禁用csrf（了解） disabled="true"禁用-->

        <security:csrf disabled="true"/>

    </security:http>


    <!--&lt;!&ndash;管理器配置&ndash;&gt;-->
    <!--<security:authentication-manager>-->
        <!--&lt;!&ndash;提供者&ndash;&gt;-->
        <!--<security:authentication-provider>-->
            <!--<security:user-service>-->
                <!--&lt;!&ndash;指定用户名和密码&ndash;&gt;-->
                <!--<security:user name="admin" password="{noop}admin" authorities="ROLE_ADMIN"/>-->
            <!--</security:user-service>-->
        <!--</security:authentication-provider>-->
    <!--</security:authentication-manager>-->
    <!--管理器配置-->
    <security:authentication-manager>
        <!--提供者-->
        <security:authentication-provider user-service-ref="userService">
            <!--指定密码加密策略-->
            <security:password-encoder ref="passwordEccoder"></security:password-encoder>
        </security:authentication-provider>
    </security:authentication-manager>
    <context:component-scan base-package="com.itheima"/>
    <!--开始security注解-->
    <security:global-method-security pre-post-annotations="enabled"/>

    <!--注册bcrypt对象-->
    <bean id="passwordEccoder" class="org.springframework.security.crypto.bcrypt.BCryptPasswordEncoder"/>









</beans>